strong {
    color:#000;
}
.btn-link {
    color:#666;
}
.btn-link-active{
    text-decoration: underline;
}
a:hover,.btn-link:hover{
    color:#444;
}
p{
    color:#444;
}
.avatar-middle,.avatar-small{
    width:38px;
    height:38px;
    margin-right:5px;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}
.avatar-middle {
    width:60px;
    height:60px;
}
.avatar-normal {
    float:left;
    margin-right:20px
}
.avatar-normal img {
    width:134px;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}
.navbar {
    padding:0 10px;
}
.nav-btn {
    margin:10px;
}

.card {
    margin-bottom:20px;
}
.card-header h5{
    float:left;
}
.card-body .btn {
   margin-right:15px;
}
.card  .badge{
    padding:8px 14px;
    margin-right:10px
}
.btn-card-header {
    float: right;
    margin-left:20px;
}
.btn-card-right {
   float:right;
   padding-right: 0;
}
.btn-card-left {
  padding-left:0
}
.menu{
    margin-bottom:30px;
}
.comment-content {
    margin-top: 15px;
    margin-bottom: 0px;
}
.message-new {
    background-color:ivory;
}
.message label{
    max-width:80%;
    text-align:left;
    padding: 6px 12px;
}
.message-right{
    text-align:right;
}
.message-from {
    margin-left:5px;
}
.message-to {
    margin-right:10px
}
.center{
   text-align:center;
}
.hide{
    display:none;
}
